<!DOCTYPE html> 
<html> 
<head> 
	<title>Password Recovery | Expressjs Template</title> 
</head> 
<body> 
<h1><%= title %></h1>
<h3> Reset your password </h3> 
<!-- 	
<% if(true){ %> 
<% } %>  -->

<input type="hidden" value='<%= token %>'' name="token" id="token">
<input type="password" placeholder="enter you password" name="password" id="password">
<input type="password" placeholder="confirm your password" name="confirm-password" id="confirm-password">

<br><br>
<button type="button" onclick="handleSubmit()" >submit</button>


<script>
	const handleSubmit = () => {
		const password = document.querySelector('input[id=password]');
		const confirmPassword = document.querySelector('input[id=confirm-password]');

		const token = document.querySelector('input[id=token]');

		const clearInputs = () => {
			password.value = '';
			confirmPassword.value = '';
			token.value = '';
			console.log('inputs cleared...')
		}

		const isValidPassword = (password.value.length > 0) && (password.value !== confirmPassword.value);
		if (isValidPassword) {
			alert('Password mismatch');

			clearInputs();
			
			return false;
		}

		if (token.value.length <= 0) {
			alert('Error occurred: could not get token, refresh the page');
			return false;
		}

		// yes we are not sending confirm password to database
		const payload = {
			password: password.value,
			token: token.value
		};

		// the url/endpoint to submit the data to
		const url = 'http://localhost:3000/api/v1/users/reset-password'

		sendData(url, payload)
		 .then(data => {
			 clearInputs();
			 console.log('Success', data);
			 if (!data.status) {
				console.log(data.message);
			 }

			 console.log(data.message);
			 alert('Success: Password changed...');
		 })
		 .catch((error) => {
			 console.log('error', error);
		 })
	};

	// send the password to the api for processing
	const sendData = async (url = '', data = {}) => {
		const response = await fetch(url, {
			method: 'PATCH',
			mode: 'cors', // other params: no-cors, cors, same-origin
			cache: 'no-cache',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(data)
		});

		return response.json();
	};


</script>
</body> 
</html> 
